@using Microsoft.AspNetCore.Http;
<dl class="row">
    <dt class="col-sm-2">
        FirstName:
    </dt>
    <dd class="col-sm-10">
        @Context.Session.GetString("firstName")
    </dd>
    <dt class="col-sm-2">
        LastName:
    </dt>
    <dd class="col-sm-10">
        @Context.Session.GetString("lastName")
    </dd>
    <dt class="col-sm-2">
        Email:
    </dt>
    <dd class="col-sm-10">
        @Context.Session.GetString("email")
    </dd>
    <dt class="col-sm-2">
        Phone:
    </dt>
    <dd class="col-sm-10">

    </dd>
    <dt class="col-sm-2">
        Department:
    </dt>
    <dd class="col-sm-10">
    </dd>
    <dt class="col-sm-2">
        Student Courses:
    </dt>
    @for (int i = 1; i <= int.Parse(Context.Session.GetString("numberOfCourses")); i++)
    {
    <dd class="col-sm-10">
        @Context.Session.GetString($"course{i}")
    </dd>
    }
    <dt class="col-sm-2">
        Student Photo:
    </dt>
    <dd class="col-sm-10">
        <img class="card-img" style="height:200px; width:200px" src="~/StudentPhotos/@Context.Session.GetString("photo")" />
        <a href="~/studentPhotos/@Context.Session.GetString("photo")" download="@Context.Session.GetString("photo")"><input class="btn btn-outline-primary" type="button" value="Download Photo" /></a>
    </dd>

</dl>